{{#> components/login.hbs user=user lang=lang dark_mode=dark_mode title=title }}
    <div class="admin-login">
        <div class="admin-container admin-login__container">
            {{#if alerts}}
                <div class="admin-login__alerts">
                    {{#each alerts}}
                        {{> components/alert.hbs index=@index type=style content=content close=true }}
                    {{/each}}
                </div>
            {{/if}}
            <form class="admin-login__card"
                {{#if form.action}} action="{{form.action}}" {{/if}}
                {{#if form.method}} method="{{form.method}}" {{/if}}
            >
                {{#if form.header}}
                    <h1 class="admin-login__header">{{form.header}}</h1>
                {{/if}}

                {{#if form.fields}}
                    {{#each form.fields}}
                        {{> components/field.hbs index=@index label=label type=type name=name value=value errors=errors }}
                    {{/each}}
                {{/if}}

                {{#if form.forgot_password and form.register}}
                    <div class="admin-login__nav">
                        {{#if form.forgot_password}}
                            <a href="{{form.forgot_password.href}}" class="admin-login__forgot-link">
                                {{form.forgot_password.label}}
                            </a>
                        {{/if}}
                        {{#if form.register}}
                            <a href="{{form.register.href}}" class="admin-login__register-link">
                                {{form.register.label}}
                            </a>
                        {{/if}}
                    </div>
                {{/if}}

                {{#if form.errors}}
                    {{#each form.errors}}
                        <div class="admin-text--danger" style="margin: 0.5rem 0;">{{this}}</div>
                    {{/each}}
                {{/if}}

                {{#if form.submit}}
                    <button type="submit" class="admin-btn admin-login__submit">{{form.submit.label}}</button>
                {{/if}}
            </form>
        </div>
    </div>
{{/components/login.hbs}}
