{{#> components/layout.hbs }}
    {{> components/alerts.hbs }}
    {{> components/breadcrumb.hbs }}
    {{> components/heading.hbs }}

    <form id="admin-create-form" action="{{form.action}}" method="{{form.method}}" enctype="multipart/form-data" autocomplete="off"
          style="display: block;">
        <input type="hidden" name="_token" value="{{ctx.csrf}}">
        <div class="admin-tabs admin-tabs--menu-mod-xs">
            <input id="admin-tabs__0" class="admin-tabs__checkbox" type="radio" name="admin-tabs__1" hidden checked>
            <input id="admin-tabs__1" class="admin-tabs__checkbox" type="radio" name="admin-tabs__1" hidden>
            <input id="admin-tabs--menu-checkbox" class="admin-tabs__menu-checkbox" type="checkbox" hidden>
            <label for="admin-tabs--menu-checkbox" class="admin-tabs__menu-label">
                <span class="admin-tabs__burger"></span>
            </label>
            <nav class="admin-tabs__nav">
                <label for="admin-tabs__0" class="admin-tabs__link">{{tabs.main}}</label>
                <label for="admin-tabs__1" class="admin-tabs__link">{{tabs.extended}}</label>
            </nav>
            <div class="admin-tabs__content">
                <div class="admin-tabs__pane">
                    <div class="admin-row">
                        {{#if form.fields.avatar.src}}
                            <div class="admin-col-auto">
                                <img src="{{form.fields.avatar.src}}"
                                     alt="Avatar" style="max-width: 3.125rem; max-height: 3.125rem; min-width: 3.125rem; min-height: 3.125rem;border-radius: 50%;">
                            </div>
                        {{/if}}
                        <div class="admin-col-auto">
<!--                            accept="image/png, image/jpeg, image/gif"-->
                            {{> components/field.hbs
                                    form="admin-create-form"
                                    label=form.fields.avatar.label
                                    value=""
                                    errors=form.fields.avatar.errors
                                    name="avatar"
                                    type="file"
                                    style="margin-bottom: 0.5rem;"
                            }}
                        </div>
                    </div>
                    <div class="admin-row">
                        <div class="admin-col-auto">
                            {{> components/field.hbs
                                    label=form.fields.email.label
                                    value=form.fields.email.value
                                    errors=form.fields.email.errors
                                    form="admin-create-form"
                                    name="email"
                                    type="email"
                                    required=true
                                    style="margin-bottom: 0.5rem;"
                                    autocomplete="off"
                                    autocorrect="off"
                                    autocapitalize="none"
                            }}
                            {{> components/field.hbs
                                    label=form.fields.password.label
                                    value=form.fields.password.value
                                    errors=form.fields.password.errors
                                    form="admin-create-form"
                                    name="password"
                                    type="password"
                                    style="margin-bottom: 0.5rem;"
                                    autocomplete="new-password"
                            }}
                            {{> components/field.hbs
                                    label=form.fields.confirm_password.label
                                    value=form.fields.confirm_password.value
                                    errors=form.fields.confirm_password.errors
                                    form="admin-create-form"
                                    name="confirm_password"
                                    type="password"
                                    style="margin-bottom: 0.5rem;"
                                    autocomplete="new-password"
                            }}
                        </div>
                        <div class="admin-col-auto">
                            {{> components/field.hbs
                                    label=form.fields.surname.label
                                    value=form.fields.surname.value
                                    errors=form.fields.surname.errors
                                    form="admin-create-form"
                                    name="surname"
                                    type="text"
                                    style="margin-bottom: 0.5rem;"
                            }}
                            {{> components/field.hbs
                                    label=form.fields.name.label
                                    value=form.fields.name.value
                                    errors=form.fields.name.errors
                                    form="admin-create-form"
                                    name="name"
                                    type="text"
                                    style="margin-bottom: 0.5rem;"
                            }}
                            {{> components/field.hbs
                                    label=form.fields.patronymic.label
                                    value=form.fields.patronymic.value
                                    errors=form.fields.patronymic.errors
                                    form="admin-create-form"
                                    name="patronymic"
                                    type="text"
                                    style="margin-bottom: 0.5rem;"
                            }}
                        </div>
                    </div>
                </div>
                <div class="admin-tabs__pane">
                    <div class="admin-row">
                        <div class="admin-col-auto">
                            {{> components/field.hbs
                                    label=form.fields.locale.label
                                    value=form.fields.locale.value
                                    errors=form.fields.locale.errors
                                    form="admin-create-form"
                                    name="locale"
                                    type="select"
                                    style="margin-bottom: 0.5rem;"
                                    placeholder=form.fields.locale.placeholder
                                    options=form.fields.locale.options
                                    option_value_key="code"
                                    option_label_key="full_name"
                            }}
                        </div>
                    </div>
                    {{#if form.fields.roles_ids}}
                        <div>
                            <label>{{form.fields.roles_ids.label}}</label>
                            {{#if form.fields.roles_ids.errors}}
                                {{#each form.fields.roles_ids.errors as |error|}}
                                    <div class="admin-text--mini admin-text--danger">{{this}}</div>
                                {{/each}}
                                <br>
                            {{/if}}
                            {{#each form.fields.roles_ids.options as |role|}}
                                <div>
                                    {{> components/checkbox.hbs
                                            label=role.label
                                            value=role.value
                                            checked=role.checked
                                            form="admin-create-form"
                                            name="roles_ids[]"
                                    }}
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div style="margin-top: 1rem;">
            <button type="submit" class="admin-btn admin-success" name="action" value="save">{{form.save}}</button>
            {{#if form.save_and_close}}
                <button type="submit" class="admin-btn admin-success" name="action"
                        value="save_and_close">{{form.save_and_close}}</button>
            {{/if}}
            {{#if form.close}}
                <a href="{{form.close.href}}" class="admin-btn">{{form.close.label}}</a>
            {{/if}}
        </div>
    </form>
{{/components/layout.hbs}}