{{#> components/layout.hbs }}
    {{> components/alerts.hbs }}
    {{> components/breadcrumb.hbs }}
    {{> components/heading.hbs }}

    <form id="admin-create-form" action="{{form.action}}" method="{{form.method}}" autocomplete="off" style="display: block;">
        <input type="hidden" name="_token" value="{{ctx.csrf}}">
        <div style="margin-bottom: 1rem;">
            <button type="submit" class="admin-btn admin-success" name="action" value="save">{{form.save}}</button>
            <button type="submit" class="admin-btn admin-success" name="action" value="save_and_close">{{form.save_and_close}}</button>
            <a href="{{form.close.href}}" class="admin-btn">{{form.close.label}}</a>
        </div>
        <div class="admin-tabs admin-tabs--menu-mod-xs">
            <input id="admin-tabs__0" class="admin-tabs__checkbox" type="radio" name="admin-tabs__1" hidden checked>
            <input id="admin-tabs__1" class="admin-tabs__checkbox" type="radio" name="admin-tabs__1" hidden>
            <input id="admin-tabs--menu-checkbox" class="admin-tabs__menu-checkbox" type="checkbox" hidden>
            <label for="admin-tabs--menu-checkbox" class="admin-tabs__menu-label">
                <span class="admin-tabs__burger"></span>
            </label>
            <nav class="admin-tabs__nav">
                <label for="admin-tabs__0" class="admin-tabs__link">{{tabs.main}}</label>
                <label for="admin-tabs__1" class="admin-tabs__link">{{tabs.permissions}}</label>
            </nav>
            <div class="admin-tabs__content">
                <div class="admin-tabs__pane">
                    <div class="admin-row">
                        <div class="admin-col" style="max-width: 600px">
                            {{> components/field.hbs
                                label=form.fields.name.label
                                value=form.fields.name.value
                                errors=form.fields.name.errors
                                form="admin-create-form"
                                name="name"
                                type="text"
                                required=true
                                style="margin-bottom: 0.5rem;"
                            }}
                            {{> components/field.hbs
                                label=form.fields.code.label
                                value=form.fields.code.value
                                errors=form.fields.code.errors
                                form="admin-create-form"
                                name="code"
                                type="text"
                                style="margin-bottom: 0.5rem;"
                            }}
                            {{> components/field.hbs
                                label=form.fields.description.label
                                value=form.fields.description.value
                                errors=form.fields.description.errors
                                form="admin-create-form"
                                name="description"
                                type="textarea"
                                style="margin-bottom: 0.5rem;"
                            }}
                        </div>
                    </div>
                </div>
                <div class="admin-tabs__pane">
                    <h3>{{form.fields.permissions.label}}</h3>
                    {{#if form.fields.permissions.errors}}
                        {{#each form.fields.permissions.errors as |error|}}
                            <div class="admin-text--mini admin-text--danger">{{this}}</div>
                        {{/each}}
                        <br>
                    {{/if}}
                    <div>
                        {{#each form.fields.permissions.options as |permission|}}
                            <div>
                                {{> components/checkbox.hbs
                                        label=permission.label
                                        value=permission.value
                                        checked=permission.checked
                                        form="admin-create-form"
                                        name="permissions[]"
                                }}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/components/layout.hbs}}